# Ignore OSX dir files
.DS_Store

# Ignore Vim swap files
*.swp

# Ignore data files
*.csv

# Ignore profiler output
*.prof
*.prof.html
*.callgrind.out.*
callgrind.out.*
*.dump
*.flamegraph.js

# Do not ignore .gitkeep files
!.gitkeep

